name: Unit tests
on: [push, pull_request]
env:
  CGO_CFLAGS: "-O -D__BLST_PORTABLE__"
jobs:
  build:
    runs-on: ubuntu-latest
    name: Go test
    steps:
      - uses: actions/checkout@v2
      - name: Setup go
        uses: actions/setup-go@v1
        with:
          go-version: "1.18.1"
      - name: Download spec tests
        run: make get-spec-tests
      - name: Start openapi mock
        run: ./scripts/openapi-mock.sh
      - name: Unit tests
        run: go test -v ./... -timeout 10m
